<!DOCTYPE html>
<html>


<%- include('../partials/head')%>
<body>
<%- include('../partials/header')%>

<%- include('../partials/slider')%>


    <h1 class="O">PRODUCTOS</h1>
    <div class="Productos">
        
        <section class="articulos-container">
            <% for (let i = 0; i < productos.length; i++) { %>
            
            <div class="articulo">   
                <a href="/products/detail/<%= productos[i].id_zapatillas %>">
                <figure>
                    <img src="/img/<%= productos[i].imagen%>" alt="Imagen de Zapatilla">
                </figure>
                </a>
                <div class="elementos-articulo">
                    <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="precio-descuento">
                    <div class="precio">$<%= productos[i].precio%></div>
                    <div class="descuento"><%= productos[i].descuento%>% OFF</div>
                    
                    </div> 

                    <p><%= productos[i].nombre%></p> 
                </div>
                
            </div>
        <%}%>
        </section>
    </div>
    <%- include('../partials/footer') %>
              
</body>
</html>